* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
}

.home {
    background-image: url('image/home_horizonal.webp');
    height: 100dvh;
}

.onef_home {
    background-image: url('image/arrive.webp');
    background-position: center;
    height: 100dvh;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.twof_home {
    background-image: url('image/speaker.webp');
    height: 100dvh;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.threef_home {
    background-image: url('image/dot-upanddown.png');
    background-position: center;
    height: 100dvh;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.fourf_home {
    background-image: url('image/pattern_1.webp');
    height: 100dvh;
    padding-bottom: 60px;
    background-attachment: fixed;
    overflow-x: hidden;
}

.fivef_home {
    background-image: url('image/edge.webp');
    background-position: center;
    height: 100dvh;
    padding-bottom: 60px;
    background-attachment: fixed;
    overflow-x: hidden;
}

.open_home {
    background-image: url('image/open4.webp');
    background-position: center;
    height: 100dvh;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.close_home {
    background-image: url('image/close2.png');
    background-position: center;
    height: 100dvh;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.one {
    position: relative;
    left: 5%;
    margin-left: 0;
}

.two {
    display: flex;
    position: relative;
    left: 5%;
    margin-left: 0;
}

.two article {
    width: 50%;
}

.three {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.three article {
    position: absolute;
    width: 28%;
}

.le {
    left: 5%;
}

.ri {
    right: -1%;
}

.four {
    position: absolute;
    left: 15%;
    top: 0;
    transform: rotate(45deg);
    transform-origin: left center;
}

.five {
    position: absolute;
    left: 5%;
    top: 70%;
    width: 40%;
}

.openf {
    position: absolute;
    left: 55%;
    top: 75%;
    width: 40%;
    transform: rotate(-52deg);
    transform-origin: left center;
}

.closef {
    position: relative;
    left: 5%;
    top: 5%;
}

.foothome {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #212529;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    margin: 0;
    color: #212529;
}

header {
    position: relative;
    left: 5%;
}

h1 {
    text-align: left;
    font-weight: 400;
    color: white;
    font-size: 32px;
    margin-top: 60px;
    margin-left: 0;
}

h2 {
    text-align: left;
    font-weight: 500;
    word-break: keep-all;
    color: white;
    font-size: 24px;
    margin-left: 0;
    margin-right: 20%;
}

p {
    text-align: left;
    word-break: keep-all;
    color: white;
    font-size: 14px;
    line-height: 1.7;
    margin-left: 0;
    margin-right: 20%;
}

nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    justify-content: center;
}

nav section {
    position: absolute;
    width: 10%;
    height: 80px;
    background: transparent;
    top: 50%;
    transform: translate(-50%, -50%);
}

.open {
    position: absolute;
    width: 10%;
    height: 80px;
    left: 15%;
    bottom: 20%;
}

.close {
    position: absolute;
    width: 10%;
    height: 80px;
    left: 25%;
    bottom: 20%;
}

.open img,
.close img {
    width: 100%;
    display: block;
}

.empty {
    height: 60%;
    width: auto;
    top: 0;
}

.b {
    height: 2%;
    width: auto;
    bottom: 0;
}

.onef:hover img {
    content: url("image/button-1.png");
}

.twof:hover img {
    content: url("image/button-2.png");
}

.threef:hover img {
    content: url("image/button-3.png");
}

.fourf:hover img {
    content: url("image/button-4.png");
}

.fivef:hover img {
    content: url("image/button-5.png");
}

.open:hover img {
    content: url("image/button-o.png");
}

.close:hover img {
    content: url("image/button-c.png");
}

.onef { left: 40%; }
.twof { left: 50%; }
.threef { left: 60%; }
.fourf { left: 70%; }
.fivef { left: 80%; }

nav img {
    width: 100%;
    display: block;
}

.back {
    position: absolute;
    width: 100px;
    right: 5%;
    top: 0;
}

.back a {
    color: white;
}

@media screen and (max-width: 900px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        margin: 0;
        width: auto;
    }

    header {
        left: 0;
        padding: 0 7%;
    }


    .home {
        background-image: url('image/home_vertical.webp');
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .onef_home {
        background-image: url('image/pulley.webp');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 160px;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .twof_home {
        background-image: url('image/red-alarm.webp');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 160px;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .threef_home {
        background-image: url('image/color_2.webp');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 160px;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .fourf_home {
        background-image: url('image/pattern_2.webp');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 160px;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .fivef_home {
        background-image: url('image/full.webp');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 160px;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .open_home {
        background-image: url('image/open3.png');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 160px;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .close_home {
        background-image: url('image/close.webp');
        width: 100%;
        height: 100dvh;
        display: block;
        background-attachment: fixed;
        overflow-x: hidden;
        padding-bottom: 0;
        max-height: 100svh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 20px;
        padding-top: 15%;
    }

    nav section {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        width: 150px;
        height: 80px;
    }

    .onef, .twof, .threef, .fourf, .fivef {
        position: static;
        transform: none;
        left: auto;
        right: auto;
        top: 0;
        bottom: auto;
    }

    .open,
    .close {
        position: absolute;
        width: 150px;
        height: 80px;
        bottom: 3%;
    }

    .open {
        left: 30%;
        transform: translateX(-50%);
    }

    .close {
        left: 70%;
        transform: translateX(-50%);
    }

    h1 {
        text-align: left;
        color: white;
        font-size: 28px;
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
    }

    h2 {
        text-align: left;
        color: white;
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        padding: 0 7%;
    }

    footer p {
        font-size: 10px;
    }

    p {
        text-align: left;
        word-break: keep-all;
        margin-left: 0;
        margin-right: 0;
        color: white;
        font-size: 10px;
        line-height: 1.7;
        padding: 0 7%;
    }

    .one {
        display: block;
        position: absolute;
        width: 70%;
        left: 20%;
    }

    .two {
        position: absolute;
        top: 50vh;
        left: 50%;
        width: 100%;
        height: auto;
        padding: 0;
        display: block;
    }

    .two h2 {
        min-height: 3.6em;
    }

    .two p {
        margin-top: 12px;
    }

    .two article {
        padding: 0 7%;
    }

    .three {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        transform: none;
        width: 100%;
    }

    .three article {
        position: relative;
        width: 100%;
    }

    .four {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        transform: none;
    }

    .five {
        position: relative;
        left: 0;
        top: auto;
        margin-top: 20vh;
        width: 100%;
        transform: none;
    }

    .openf {
        position: relative;
        left: 70%;
        top: 10%;
        width: 15%;
        transform: none;
    }

    .closef {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .closef article {
        padding: 0;
        margin-top: 8vh;
    }

    .closef h2,
    .closef p {
        margin-left: 0;
        margin-right: 0;
    }

    .le, .ri {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
    }

}
